#beer-stage {
  position: relative;
  margin-bottom: 50px;
  @include span(1 of 1);

  > img {
    max-width: 100%;
    border: 5px solid $color-cream;
  }

  .beers-wrapper {
    height: 100%;
    width: 79.2%;
    position: absolute;
    margin-left: 9.8%;
    bottom: 8.2%;

    .beers {
      position: relative;
      height: 100%;
      margin: 0 auto;

      .beer {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 9.9%;

        &:nth-of-type(2) {
          left: 14.28%;
        }

        &:nth-of-type(3) {
          left: 28.57%;
        }

        &:nth-of-type(4) {
          left: 42.85%;
        }

        &:nth-of-type(5) {
          left: 57.14%;
        }

        &:nth-of-type(6) {
          left: 71.42%;
        }

        &:nth-of-type(7) {
          left: 85.71%;
        }

        img {
          max-width: 100%;
          @media screen and (max-width: $mobile-width) {
            max-height: 200px;
          }
        }

        .info {
          display: none;
        }
      }
    }
  }

  &:after {
    content: "";
    display: block;
  }
}

@media screen and (max-width: $mobile-width) {
  #beer-stage {
    @include span(1 of 1);

    > img {
      display: none;
    }

    .beers-wrapper {
      clear: both;
      height: auto;
      width: 100%;
      position: inherit;
      margin-left: auto;
      bottom: initial;

      .beers {
        position: relative;
        height: 100%;

        .beer {
          float: left;
          position: static;
          width: 100%;
          clear: left;
          margin-bottom: 20px;


          img {
            max-width: 20%;
            float: left;
          }

          .info {
            display: block;
            float:right;
            width: 70%;
            background-color: $color-cream;
            color: $color-gray;
            padding: 10px;
            h2, a {
                color: $color-light-green;
            }
          }
        }
      }
    }

    &:after {
      content: "";
      display: block;
    }
  }
}