$color-light-green: #89aa3e;
$color-dark-green: #6e893a;

$color-cream: #f8f3df;
$color-dark-cream: #d8d4c5;
$color-gray: #606265;

$color-pour-saison: #6d8a3a;
$color-pour-orange-gose: #b74d1b;
$color-pour-farmhouse-ipa: #8aab40;
$color-pour-grapefruit-gose: #b5613f;
$color-pour-tea-weiss: #89bbbc;
$color-pour-beet-weiss: #7d0042;
$color-pour-apricot-weiss: #b8920d;


$color-label-saison: #6c823a;
$color-label-orange-gose: #1178ba;
$color-label-farmhouse-ipa: #9ba83f;
$color-label-grapefruit-gose: #eb865d;
$color-label-tea-weiss: #80adae;
$color-label-beet-weiss: #ac4062;
$color-label-apricot-weiss: #cca30d;