body.front {

    #hero-slider {
        @include span(1 of 1);
    }
    .three-col-wrapper {
        .three-col {
            @include span(1 of 3);

            @media screen and (max-width: $mobile-width) {
                @include span(1 of 1);
            }

            @media screen and (min-width: $mobile-width) and (max-width: $tablet-width) {
                @include span(1 of 2);
            }
            color: $color-gray;
            margin-bottom: 50px;
            h2 {
                color: $color-gray;
                font-family: "Duke Fill";
                font-size: 2em;
                text-transform: uppercase;
                letter-spacing: .1em;
                @include diamonds;
                border-bottom: 2px solid $color-gray;
                text-align: center;
                margin-bottom: .5em;
            }
            .content {
                background: url(../images/paper-bg.png) center bottom;
                padding: 10px 20px 50px;
                min-height: 520px;
                color: $color-gray;
                a {
                    color: $color-gray;
                }
                ul.untappd-feed {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    max-height: 400px;
                    overflow: auto;
                    li {
                        border-bottom: 1px dashed $color-gray;
                        padding: 10px 0;
                    }
                }
            }
            &.first-of-type {}
        }
    }
}