.main-content {
    z-index: 50;
    margin-top: 30px;
    .content {
        .title {
            margin: 0 auto 20px;
            text-align: center;
            @include span(1 of 1);
            img {}
        }
    }
}

body.not-front {
    .main-content {
        .content {
            background: $color-cream;
            color: $color-gray;
            .page-header {
                background-color: $color-cream;
                padding: 10px;
            }
            .inner-content {
                margin: 0px 40px;
            }
            p {
                margin: 10px 0;
            }
            ul.team {
                margin: 0;
                padding: 0;
                li {
                    list-style-type: none;
                    img {
                        max-width: 200px;
                        float: left;
                        @media screen and (max-width: $tablet-width) {
                            float: none;
                            margin: 0px auto;
                            max-width: 100%;
                        }
                    }
                    h2 {
                        font-family: "Duke Fill";
                        float: left;
                        margin: 40px 0 0 15px;
                        font-size: 2.9em;
                        letter-spacing: .1em;
                        font-weight: normal;
                        color: $color-light-green;
                        text-transform: uppercase;
                        @media screen and (max-width: $tablet-width) {
                            float: none;
                            margin: 0px auto;
                            max-width: 100%;
                            text-align: center;
                        }
                    }
                    h3 {
                        font-family: "Colab";
                        float: left;
                        margin: 61px 0 0 15px;
                        font-size: 1.7em;
                        color: $color-gray;
                        text-transform: uppercase;
                        letter-spacing: .03em;
                        font-weight: normal;
                        @media screen and (max-width: $tablet-width) {
                            float: none;
                            margin: 0px auto;
                            max-width: 100%;
                            text-align: center;
                        }
                    }
                    p {
                        margin: 0 0 0 215px;
                        clear: left;
                        position: relative;
                        top: -105px;
                        margin-bottom: -60px;
                        @media screen and (max-width: $tablet-width) {
                            float: none;
                            margin: 0px auto;
                            max-width: 100%;
                            text-align: center;
                            top: auto;
                        }
                    }
                }
            }
            ul.beer-list {
                margin: 20px 0;
                padding: 0;
                margin-bottom: 40px;
                li {
                    list-style-type: none;
                    clear: left;
                    margin: 20px 0;
                    div.beer-label {
                        float: left;
                        img {
                            max-width: 100%;
                        }
                        margin-bottom: 20px;
                        @media screen and (max-width: $tablet-width) {
                            text-align: center;
                            float: none;
                            margin-bottom: 0px;
                        }
                        i {
                            margin: 0px auto;
                        }
                    
                    }
                    div.beer-info {
                        background-color: $color-dark-cream;
                        padding: 20px;
                        margin: 10px 10px 10px 320px;
                        min-height: 300px;
                        @media screen and (max-width: $tablet-width) {
                            float: none;
                            margin: 0px auto;
                            max-width: 100%;
                            text-align: center;
                            padding-bottom: 20px;
                        }
                        h2 {
                            font-family: "Duke Fill";
                            font-size: 2.9em;
                            letter-spacing: .1em;
                            font-weight: normal;
                            color: $color-gray;
                            text-transform: uppercase;
                            span {
                                color: $color-light-green;
                                @media screen and (max-width: $tablet-width) {
                                    display: block;
                                }
                            }
                        }
                        p {}
                        .beer-links {
                            a {
                                color: $color-light-green;
                                font-weight: bold;
                            }
                        }
                    }
                    div.beer-pour {
                        background-color: $color-dark-cream;
                        text-align: center;

                        @media screen and (min-width: 771px) {
                            display: inline-block;
                            float: right;
                            transform: translateY(-124px);
                            margin: 10px;
                        }
                        i {
                            margin: 0px auto;
                        }
                    }
                }
                li#saison {
                    .beer-label {
                        background-color: $color-label-saison;
                    }
                    .beer-pour {
                        background-color: $color-pour-saison;
                    }
                }
                li#orange-gose {
                    .beer-label {
                        background-color: $color-label-orange-gose;
                    }
                    .beer-pour {
                        background-color: $color-pour-orange-gose;
                    }
                }
                li#farmhouse-ipa {
                    .beer-label {
                        background-color: $color-label-farmhouse-ipa;
                    }
                    .beer-pour {
                        background-color: $color-pour-farmhouse-ipa;
                    }
                }
                li#grapefruit-gose {
                    .beer-label {
                        background-color: $color-label-grapefruit-gose;
                    }
                    .beer-pour {
                        background-color: $color-pour-grapefruit-gose;
                    }
                }
                li#tea-weiss {
                    .beer-label {
                        background-color: $color-label-tea-weiss;
                    }
                    .beer-pour {
                        background-color: $color-pour-tea-weiss;
                    }
                }
                li#apricot-weiss {
                    .beer-label {
                        background-color: $color-label-apricot-weiss;
                    }
                    .beer-pour {
                        background-color: $color-pour-apricot-weiss;
                    }
                }
                li#beet-weiss {
                    .beer-label {
                        background-color: $color-label-beet-weiss;
                    }
                    .beer-pour {
                        background-color: $color-pour-beet-weiss;
                    }
                }
            }
        }
    }
}

.image-gallery {
    .gallery-item {
        @include span(4 of 12);
        @media screen and (max-width: $tablet-width) {
            @include span(1 of 1);
        }
        margin-bottom: gutter();
        &:nth-child(3n+3) {
            @include last;
        }
    }
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.contact-form {
    max-width: 600px;
}