@mixin inline-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
  	display: inline-block;
  }
}

@mixin text-shadow() {
	text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
}

@mixin diamonds {
  &:before, &:after {
	font-family: "craneicons" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "d";
          position: relative;
          top: 5px;
	}

}