.beer-sprite {
    background-image: url("../images/beers/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.beer-sprite-beer-apricot-weiss {
    width: 162px;
    height: 608px;
    background-position: -5px -5px;
}

.beer-sprite-beer-beet-weiss {
    width: 162px;
    height: 608px;
    background-position: -177px -5px;
}

.beer-sprite-beer-farmhouse-ipa {
    width: 161px;
    height: 608px;
    background-position: -349px -5px;
}

.beer-sprite-beer-grapefruit-gose {
    width: 162px;
    height: 608px;
    background-position: -520px -5px;
}

.beer-sprite-beer-orange-gose {
    width: 162px;
    height: 608px;
    background-position: -692px -5px;
}

.beer-sprite-beer-saison {
    width: 163px;
    height: 608px;
    background-position: -864px -5px;
}

.beer-sprite-beer-tea-weiss {
    width: 162px;
    height: 608px;
    background-position: -1037px -5px;
}

.beer-sprite-origami-apricot-weiss {
    width: 283px;
    height: 300px;
    background-position: -5px -623px;
}

.beer-sprite-origami-beet-weiss {
    width: 283px;
    height: 300px;
    background-position: -298px -623px;
}

.beer-sprite-origami-farmhouse-ipa {
    width: 283px;
    height: 300px;
    background-position: -591px -623px;
}

.beer-sprite-origami-grapefruit-gose {
    width: 283px;
    height: 300px;
    background-position: -884px -623px;
}

.beer-sprite-origami-orange-gose {
    width: 283px;
    height: 300px;
    background-position: -5px -933px;
}

.beer-sprite-origami-saison {
    width: 283px;
    height: 300px;
    background-position: -298px -933px;
}

.beer-sprite-origami-tea-weiss {
    width: 283px;
    height: 300px;
    background-position: -591px -933px;
}

.beer-sprite-pour-apricot-weiss {
    width: 232px;
    height: 100px;
    background-position: -884px -933px;
}

.beer-sprite-pour-beet-weiss {
    width: 232px;
    height: 100px;
    background-position: -884px -1043px;
}

.beer-sprite-pour-farmhouse-ipa {
    width: 232px;
    height: 100px;
    background-position: -1209px -5px;
}

.beer-sprite-pour-grapefruit-gose {
    width: 232px;
    height: 100px;
    background-position: -1209px -115px;
}

.beer-sprite-pour-orange-gose {
    width: 232px;
    height: 100px;
    background-position: -1209px -225px;
}

.beer-sprite-pour-saison {
    width: 232px;
    height: 100px;
    background-position: -1209px -335px;
}

.beer-sprite-pour-tea-weiss {
    width: 232px;
    height: 100px;
    background-position: -1209px -445px;
}
