{% extends "layouts/default.html" %}

{% set page = "brewery" %}

{% block content %}

<img src="images/header_images/brewery-header.jpg" class="responsive-img page-header" />
<div class="inner-content">
<p>We are focusing our efforts on those wild and vibrant beers you all love so much. We want to bring you dry and rustic ales like those of Wallonia and the Senne Valley, fermented with your favorite little beasts in wood and steel after the style of the old country. In order to produce such wild and sour beers we will be harvesting yeast and propagating it in our in-house laboratory.  We take traditional methods seriously, but we also have a few ideas of our own. </p>
<p>Crane Brewing Company is an American brewery inspired equally by both the bold craft beers of home and the rustic ales of Europe. We hope to fulfill the desire of our local metro for these exotic beers, and we hope beer lovers from near and far join us in Raytown, MO for a taste sometime. We strive to build on this grand tradition that never stays the same for too long. </p>
<p>Crane Brewing, Tradition Evolving.</p>


    <div class="image-gallery group">
      <div class="gallery-item"><a href="images/gallery/gallery-01.jpg" title="Image 01" class="gallery-popup"><img src="images/gallery/thumb-01.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-02.jpg" title="Image 02" class="gallery-popup"><img src="images/gallery/thumb-02.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-03.jpg" title="Image 03" class="gallery-popup"><img src="images/gallery/thumb-03.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-04.jpg" title="Image 04" class="gallery-popup"><img src="images/gallery/thumb-04.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-05.jpg" title="Image 05" class="gallery-popup"><img src="images/gallery/thumb-05.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-06.jpg" title="Image 06" class="gallery-popup"><img src="images/gallery/thumb-06.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-07.jpg" title="Image 07" class="gallery-popup"><img src="images/gallery/thumb-07.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-08.jpg" title="Image 08" class="gallery-popup"><img src="images/gallery/thumb-08.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-09.jpg" title="Image 09" class="gallery-popup"><img src="images/gallery/thumb-09.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-10.jpg" title="Image 10" class="gallery-popup"><img src="images/gallery/thumb-10.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-11.jpg" title="Image 11" class="gallery-popup"><img src="images/gallery/thumb-11.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-12.jpg" title="Image 12" class="gallery-popup"><img src="images/gallery/thumb-12.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-13.jpg" title="Image 13" class="gallery-popup"><img src="images/gallery/thumb-13.jpg" class="thumbnail responsive-img"></a></div>
      <div class="gallery-item"><a href="images/gallery/gallery-14.jpg" title="Image 14" class="gallery-popup"><img src="images/gallery/thumb-14.jpg" class="thumbnail responsive-img"></a></div>
    </div>

<br class="clearfix">
</div>

{% endblock %}