{% extends "layouts/default.html" %}

{% set page = "events" %}

{% block content %}

<img src="images/header_images/events-header.jpg" class="responsive-img page-header" />

<div class="inner-content">

	<div id="calendar" class="full">

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-1.jpg">
				</div>
				<div class="date">
					<div class="month">Jan</div>
					<div class="day">18</div>
				</div>
				<div class="description">
					<h3>MO Launch Week at Bier Station!</h3>
					<p>Monday, January 18th - 4:00 pm @ <a href="http://www.bierstation.com/">Bier Station</a>
					<p>120 E. Gregory Boulevard, Kansas City, MO 64114
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-2.jpg">
				</div>
				<div class="date">
					<div class="month">Jan</div>
					<div class="day">19</div>
				</div>
				<div class="description">
					<h3>MO Launch Week! Tasting at Lukas Liquors and Launch at The Belfry</h3>
					<p>Tuesday, January 19th - 4:00 pm @ <a href="http://www.lukasliquor.com/">Lukas Liquors</a>
					<p>13657 Washington St, Kansas City, MO 64145
					</br>
					<p>Tuesday, January 19th - 7:00 pm @ <a href="http://www.thebelfrylounge.com/">The Belfry</a>
					<p>1532 Grand Blvd, Kansas City, MO 64108
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-3.jpg">
				</div>
				<div class="date">
					<div class="month">Jan</div>
					<div class="day">20</div>
				</div>
				<div class="description">
					<h3>MO Launch Week at Waldo Pizza!</h3>
					<p>Wednesday, January 20th - 6:00 pm @ <a href="http://www.waldopizza.net/">Waldo Pizza</a>
					<p>7433 Broadway St, Kansas City, MO 64114
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-1.jpg">
				</div>
				<div class="date">
					<div class="month">Jan</div>
					<div class="day">21</div>
				</div>
				<div class="description">
					<h3>MO Launch Week! Tasting at Hy-Vee and Launch at Rock & Run!</h3>
					<p>Thursday, January 21st - 4:00 pm @ <a href="https://www.hy-vee.com/stores/detail.aspx?s=89">Hy-Vee Liberty</a>
					<p>109 N Blue Jay Dr, Liberty, MO 64068
					<p>Thursday, January 21st - 7:00 pm @ <a href="http://rockandrunbrewery.com/">Rock & Run Brewery</a>
					<p>110 E Kansas St, Liberty, MO 64068
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-2.jpg">
				</div>
				<div class="date">
					<div class="month">Jan</div>
					<div class="day">22</div>
				</div>
				<div class="description">
					<h3>MO Launch Week! Tastings at Plaza Liquor, Cork & Barrel, and Parkway Wine & Spirits. Launch at Flying Saucer!</h3>
					<p>Friday, January 22nd - 4:00 pm @ <a href="http://www.plazaliquorkc.com/">Plaza Liquor</a>
					<p>4500 Belleview Ave, Kansas City, MO 64111
					<p>Friday, January 22nd - 4:00 pm @ <a href="http://corkbarrel.com/">Cork & Barrel</a>
					<p>2000 W 23rd St, Lawrence, KS 66046
					<p>Friday, January 22nd - 6:30 pm @ <a href="http://parkwaywineandspirits.net/">Parkway Wine & Spirits</a>
					<p>3514 Clinton Pkwy, Lawrence, KS 66047
					<p>Friday, January 22nd - 7:00 pm @ <a href="http://www.beerknurd.com/stores/kansascity/">Flying Saucer Draught Emporium</a>
					<p>101 E 13th St, Kansas City, MO 64106
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-3.jpg">
				</div>
				<div class="date">
					<div class="month">Jan</div>
					<div class="day">23</div>
				</div>
				<div class="description">
					<h3>MO Launch Week! Beer Brunch at The Belfry, Launch at Tapcade, Party Arty!</h3>
					<p>Saturday, January 23rd - 10:00 am @ <a href="http://www.thebelfrylounge.com/">The Belfry</a>
					<p>1532 Grand Blvd, Kansas City, MO 64108
					<p>Saturday, January 23rd - 4:00 pm @ <a href="http://screenland.com/tapcade-at-crossroads/">Tapcade</a>
					<p>1701 McGee St #200, Kansas City, MO 64108
					<p>Saturday, January 23rd - 8:00 pm @ <a href="http://partyarty.org/">Party Arty</a>
					<p>4525 Oak St, Kansas City, MO 64111
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-1.jpg">
				</div>
				<div class="date">
					<div class="month">Jan</div>
					<div class="day">25</div>
				</div>
				<div class="description">
					<h3>MO Launch Week at The Foundry!</h3>
					<p>Monday, January 25th - 6:00 pm @ <a href="http://foundrykc.com/">The Foundry</a>
					<p>424 Westport Rd, Kansas City, MO 64111
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-2.jpg">
				</div>
				<div class="date">
					<div class="month">Jan</div>
					<div class="day">26</div>
				</div>
				<div class="description">
					<h3>MO Launch Week at Grains and Taps!</h3>
					<p>Tuesday, January 26th - 6:00 pm @ <a href="http://grainsandtaps.com/">Grains and Taps</a>
					<p>224 SE Douglas St, Lee's Summit, MO 64063
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-3.jpg">
				</div>
				<div class="date">
					<div class="month">Jan</div>
					<div class="day">27</div>
				</div>
				<div class="description">
					<h3>MO Launch Week! Beer Dinner at Happy Gillis!</h3>
					<p>Wednesday, January 27th - 6:30 pm @ <a href="http://happygillis.com/">Happy Gillis</a>
					<p>549 Gillis St, Kansas City, MO 64106
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-1.jpg">
				</div>
				<div class="date">
					<div class="month">Jan</div>
					<div class="day">28</div>
				</div>
				<div class="description">
					<h3>MO Launch Week at Longbell Pizza Co.</h3>
					<p>Thursday, January 28th - 5:00 pm @ <a href="http://www.longbellpizzaco.com/">Longbell Pizza Co.</a>
					<p>3385 SW Fascination Dr, Lee's Summit, MO 64081
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-2.jpg">
				</div>
				<div class="date">
					<div class="month">Jan</div>
					<div class="day">29</div>
				</div>
				<div class="description">
					<h3>MO Launch Week! Tasting at Mass Beverage and Cork & Barrel! Launch at Conrads!</h3>
					<p>Friday, January 29th - 4:00 pm @ <a href="http://massbeverage.com/">Mass Beverage</a>
					<p>3131 Nieder Rd # A, Lawrence, KS 66047
					<p>Friday, January 29th - 6:30 pm @ <a href="http://corkbarrel.com/">Cork & Barrel</a>
					<p>901 Mississippi St, Lawrence, KS 66044
					<p>Friday, January 29th - 6:00 pm @ <a href="http://www.conrads816.com/">CONRAD's Restaurant and Alehouse</a>
					<p>210 North State Route 291, Liberty, MO 64068
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-75thstreet.jpg">
				</div>
				<div class="date">
					<div class="month">Feb</div>
					<div class="day">13</div>
				</div>
				<div class="description">
					<h3>Big Chill</h3>
					<p>Saturday, February 13th - <a href="http://kchopps.com/75th-street-brewery/">75th Street Brewery</a>
					<p>
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-1.jpg">
				</div>
				<div class="date">
					<div class="month">Feb</div>
					<div class="day">27</div>
				</div>
				<div class="description">
					<h3>KC Beerfest</h3>
					<p>Saturday, February 27th - @ <a href="http://www.unionstation.org/">Union Station</a>
					<p>
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-fotlt.jpg">
				</div>
				<div class="date">
					<div class="month">Sep</div>
					<div class="day">17</div>
				</div>
				<div class="description">
					<h3>Festival of the Lost Township</h3>
					<p>Saturday, September 17th
					<p>
				</div>
			</div>

			</div>
	</div>
</div>

{% endblock %}