{% extends "layouts/default.html" %}

{% set page = "events" %}

{% block content %}

<img src="images/header_images/events-header.jpg" class="responsive-img page-header" />

<div class="inner-content">

	<div id="calendar" class="full">

			<div class="event">
				<div class="photo">
					<img src="images/event/event-barleys.jpg">
				</div>
				<div class="date">
					<div class="month">Dec</div>
					<div class="day">7</div>
				</div>
				<div class="description">
					<h3>Crane Launch Week!</h3>
					<p>Monday, December 7th - 7:00 pm @ <a href="http://kchopps.com/barleys-brewhaus-overland-park/">Barley's Brewhaus</a>
					<p>11924 West 119th Street, Overland Park
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-lukas.jpg">
				</div>
				<div class="date">
					<div class="month">Dec</div>
					<div class="day">8</div>
				</div>
				<div class="description">
					<h3>Crane Launch Week!</h3>
					<p>Tuesday, December 8th - 7:00 pm @ <a href="http://www.lukasliquor.com/">Lukas Liquors</a>
					<p>12140 Blue Valley Parkway, Overland Park
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-burgandbarrel.jpg">
				</div>
				<div class="date">
					<div class="month">Dec</div>
					<div class="day">9</div>
				</div>
				<div class="description">
					<h3>Crane Launch Week!</h3>
					<p>Wednesday, December 9th - 6:00 pm @ <a href="http://www.burgandbarrel.com/">Burg & Barrel</a>
					<p>7042 West 76th Street, Overland Park
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-spinpizza.jpg">
				</div>
				<div class="date">
					<div class="month">Dec</div>
					<div class="day">10</div>
				</div>
				<div class="description">
					<h3>Crane Launch Week!</h3>
					<p>Thursday, December 10th - 5:30 pm @ <a href="http://www.spinpizza.com/">Spin! Pizza</a>
					<p>8224 Mission, Prairie Village
					<p>Enjoy amazing pizza along with out beers!</p>
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-grindersstonewall.jpg">
				</div>
				<div class="date">
					<div class="month">Dec</div>
					<div class="day">11</div>
				</div>
				<div class="description">
					<h3>Crane Launch Week!</h3>
					<p>Friday, December 11th - @ <a href="https://www.facebook.com/GrindersStonewall/">Grinder's Stonewall</a>
					<p>10240 Pflumm, Lenexa
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-403club.jpg">
				</div>
				<div class="date">
					<div class="month">Dec</div>
					<div class="day">12</div>
				</div>
				<div class="description">
					<h3>Crane Launch Week!</h3>
					<p>Saturday, December 12th - 7:00 pm @ <a href="http://www.403club.com/">The 403 Club</a>
					<p>614 Reynolds, Kansas City, Kansas
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-barleys.jpg">
				</div>
				<div class="date">
					<div class="month">Dec</div>
					<div class="day">14</div>
				</div>
				<div class="description">
					<h3>Crane Launch Week!</h3>
					<p>Monday, December 14th - @ <a href="http://kchopps.com/barleys-brewhaus-overland-park/">Barley's Brewhaus</a>
					<p>11924 West 119th Street, Overland Park
					<p>Beer School with Brewers Steve Hood and Randy Strange. - *TICKETS SOLD OUT*</p>
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-burgerrocks.jpg">
				</div>
				<div class="date">
					<div class="month">Dec</div>
					<div class="day">15</div>
				</div>
				<div class="description">
					<h3>Crane Launch Week!</h3>
					<p>Tuesday, December 15th - 4:00-6:00 pm @ <a href="http://lawrenceontherocks.webs.com/">On the Rocks</a> & 5:00 - 7:00 pm @ <a href="http://www.burgerstandrestaurants.com/">Burger Stand at the Casbah</a>
					<p>Crane heads to Lawrence for a tasting at On the Rocks (1818 Massachusetts) from 4 to 6 p.m. and a party at Burger Stand at the Casbah (803 Massachusetts) from 5 to 7 p.m.
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-75thstreet.jpg">
				</div>
				<div class="date">
					<div class="month">Feb</div>
					<div class="day">13</div>
				</div>
				<div class="description">
					<h3>Big Chill</h3>
					<p>Saturday, February 13th - <a href="http://kchopps.com/75th-street-brewery/">75th Street Brewery</a>
					<p>
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-default-1.jpg">
				</div>
				<div class="date">
					<div class="month">Feb</div>
					<div class="day">27</div>
				</div>
				<div class="description">
					<h3>KC Beerfest</h3>
					<p>Saturday, February 27th - @ <a href="http://www.unionstation.org/">Union Station</a>
					<p>
				</div>
			</div>

			<div class="event">
				<div class="photo">
					<img src="images/event/event-fotlt.jpg">
				</div>
				<div class="date">
					<div class="month">Sep</div>
					<div class="day">17</div>
				</div>
				<div class="description">
					<h3>Festival of the Lost Township</h3>
					<p>Saturday, September 17th
					<p>
				</div>
			</div>

			</div>
	</div>
</div>

{% endblock %}